.intra-store-locations-grid {
    display: grid;
    grid-template-columns: .25fr 1fr .5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .Polaris-Box {
        padding: 0;
        margin-top: -5px;
    }
}

.grid-icon {
    align-self: flex-start;
}