.location-connection-grid {
    display: grid;
    grid-template-columns: .25fr 1fr .5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.connected-stores-grid {
    display: grid;
    grid-template-columns: .2fr 1fr .15fr 1fr .2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .delete-location-connection:hover {
        cursor: pointer;

        svg {
            fill: var(--p-surface-critical-subdued-depressed);
        }
    }
}

.grid-icon {
    align-self: flex-start;
}