a:visited.switch-store-link, a.switch-store-link {
  text-decoration: none;
  color: var(--p-text);
}

.gap {
  margin-top: 1em;
}

.sync-toggle-text-enabled {
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding-top: 8px;
  padding-left: 14px;
}

.sync-toggle-text-disabled {
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding-top: 8px;
  margin-left: -38px;
}